.screenshot {
	position:absolute;
	visibility:hidden;
	left: 0;
	top: 0;
	height: auto;
	border:solid 1px black;
	z-index:3000;
}
			
.storyboard {
    background-color: #F5FDF9;
    border: 1px solid #C3FFD9;
    margin: 6px 0 28px;
    padding: 2px 12px 6px;
}
.storyboard h3 {
    font-size: 12pt;
    margin-bottom: 8px;
    margin-top: 8px;
}
.storyboard ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.storycard {
    background-color: #FFFAFA;
    border: 1px solid #000000;
    border-radius: 0.3em 0.3em 0.3em 0.3em;
    box-shadow: 0.2em 0.2em 0.5em #333333;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-size: 10pt;
    font-weight: normal;
    height: 178px;
    margin: 0 12px 12px 0;
    overflow: hidden;
    padding: 8px;
    position: relative;
    text-align: center;
    width: 210px;
}

.storycard .scimgcontainer {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    display: block;
    height: 130px;
    overflow: hidden;
    padding: 2px;
    position: relative;
    width: 204px;
    margin: 0;
    margin-bottom: 8px;
}

.storycard .scimgcontainer img {
    padding: 0;
    margin: 0;
    border: none;
}

.storycard .scimgcontainer .sizewidth {
    width: 100%;
}

.storycard .scimgcontainer .sizeheight {
    height: 100%;
}

.storycard p {
    margin: 0;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
}

.storycard .scsummary {
	font-size: 10pt;	
}

.storycard .scdescription {
	font-size: 8pt;
	color: gray;
	text-overflow: ellipsis;
}

.storycard .scsuccess {
	color: green;
}

.storycard .scfailure{
    color: red;
}

.storycard .scwarning{
    color: orange;
}

/* Remove button added by FireFox plugin AllowLocalLinks */
.storycard .alien-lfl-href-buttonLink {
    display: none;
}
